:root{
    --navycolor:rgb(47, 85, 116);
}

/* fix the strange extra width space issue*/
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

* {
    box-sizing: border-box;
}


/*Title and Nav are on same line at default*/
header {
    display:flex;
    flex-wrap:wrap;
}

/*how much the nav elements will grow*/
.grow{
    flex: 1 0 0
}

.border{
    border:8px solid var(--navycolor);
}

/*fix double border between title and nav*/
#titleborderfix{
    border-left-style:hidden;
}
/*title takes up 4/10 of the screen*/
#titlegrow{
    flex:0.4 0 0;
    display:flex;
    
}


#pagetitle {
    flex: 1 0 0;
    font-weight:bold;
    color:var(--navycolor);
    margin:20px;
    font-size:50px;
}

nav {
    flex:1 0 0;
    display:flex;
    justify-content: space-between;
    margin-top:40px;
    margin-bottom:40px;
    margin-left:40px;
    margin-right:40px;
    border:5px;
    border-color:rgb(12, 10, 10);
}
nav a{
    padding: 10px;
    padding-left:20px;
    padding-right:20px;
    background-color: rgb(236, 235, 235);
    font-size:25px;
    margin-right:20px;
    color:black;
}

/*change styling when hovering over nav links*/
nav a:hover{
    color:rgb(48, 148, 151);
    border: 2px solid var(--navycolor);
    padding:8px;
    padding-left:23px;
    padding-right:23px;
}

/*use id to help locate sections for other style rules*/
#appshere{
    height:50px;
}
#aboutmehere{
    height:50px
}
#contactmehere{
    height:50px;
}

/*the main section displays the main and asside elements next to eachother at default*/
#mainsection{
    display:flex;
}

/*define how much of the page width the main and aside sections take up*/
main{
    width:50%;
}
aside{
    width:50%;
}

#asidedisplay{
    display:flex;
}

.sectionheader{
    height:50px;
    width:100%;
    text-align:center;
    font-size: 35px;
    color:whitesmoke;
    background-color:var(--navycolor);
    padding-top:10px;
}

/*When hovering over a section header, the div after is given style, making space for a description*/
.sectionheader:hover + div{
    display:flex;
    width:100%;
    height:50px;
    color:whitesmoke;
    font-size:20px;
    justify-content:center;
    margin-top:2px;
    margin-bottom:1px;
    background-color: var(--navycolor);
}

/*creates an after element for the description of the different sections*/
#appshere:hover +div::after{
    content:"Here are all of the apps I have developed from scratch so far.";
    margin-top:10px;
}
#aboutmehere:hover +div::after{
    content:"Here is some information about me.";
    margin-top:10px;
}
#contactmehere:hover +div::after{
    content:"Here is where you can contact me.";
    margin-top:10px;
}


/*define styling of the image section and its elements*/
#imagesection{
    display:flex;
    flex-wrap:wrap;
    height:600px;
    border: 5px solid var(--navycolor);
}

.appimage{
    justify-content: center;
    width:50%;
    height:50%;
}
.appimage img{
    justify-self:center;
    margin: 10px;
    margin-top:40px;
    height: 70%;
    width: 90%;
    border:3px;
    border-color:var(--navycolor);
    border-style: solid;
}

.appimagetext{
    justify-self:center;
    position:relative;
    margin:10px;
    color:whitesmoke;
    font-size:2vw;
    left:17%;
    bottom:80%;
}

/*I used the upperimage class to differentiate between images, so that I could give the top row images a different margin rule*/
.upperimage{
    color:whitesmoke
}
.upperimage img{
    margin-top:20%;
}

.box{
    position:relative;
    justify-self:center;
    width: 90%;
    height: 30%;
    background-color:rgba(24, 23, 23, 0.527);
    margin:10px;
    bottom:55%;
}

/*defines how a default text section displays*/
.textsection{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    width:100%;
    border:5px;
    border: left 5px;
    border-color:var(--navycolor);
    border-style:solid;
    color:black;
}

/*special id for the about me image*/
#imageofme{
    margin:15px;
    margin-top:30px;
    margin-left:30px;
    width:30%;
    border:2px solid black;
}

/*both describes the desired height of the different text sections, and allows to differentiate between them*/
#textsectionAB{
    height:400px;
}

#textsectionC{
    height:150px;
}

/*defines how text in a text section should be styled*/
section p {
    text-indent: 60px;
    font-size:20px;
    margin:30px;
}

/*special rules for the about me section text*/
#textsectionAB p{
    width:50%;
    font-size:2vw;
    margin-top:45px;
    margin-left:20px;
}

.contactsection{
    width:100%;
    display:flex;
    height:200px;
    border:5px solid var(--navycolor);
    border-left:3px;
}

/*container for the contact tabs*/
#contacttabs{
    display:flex;
}

/*the place id's are used to organize the tab and its text to reveal,
this allows for me to give the tab utility without there being a space
between the tabs for the text they would hold*/
#emailplace{
    display:flex;
    flex-direction:column;
    width:28%;
    min-width:125px;
    max-width:130px;
}
#gitplace{
    display:flex;
    flex-direction:column;
    width:28%;
    min-width:120px;
    max-width:200px;
}

/*define the two contact tabs*/
#emailtab{
    background-color:whitesmoke;
    border:solid 2px var(--navycolor);
    height:40px;
    width:120px;
    text-align: center;
    padding-top:10px;
    margin:2px;
    margin-left:4px;
    border-radius:3px;
}
#gittab{
    background-color:whitesmoke;
    border:solid 2px var(--navycolor);
    height:40px;
    width:120px;
    text-align:center;
    padding-top:10px;
    margin:2px;
    right:20%;
    border-radius:3px;
}

/*style the links of the tabs*/
#emaillink{
    visibility: hidden;
    position:relative;
    top:50%;
    left:51%;
    font-size:20px;
    background-color: var(--navycolor);
    color:whitesmoke;
    width:260px;
    height:30px;
    text-align:center;
    padding-top:5px;
}
#gitlink{
    visibility:hidden;
    position:relative;
    top:50%;
    right:50%;
    font-size:20px;
    background-color: var(--navycolor);
    color:whitesmoke;
    width:200px;
    height:30px;
    text-align:center;
    padding-top:5px;
}

/*change style of links when hovering*/
#emaillink:hover{
    background-color:rgb(14, 49, 70);
}
#gitlink:hover{
    background-color:rgb(14, 49, 70);
}

/*Change email tab style when it is focused*/
#emailtab:focus{
    background-color:var(--navycolor);
    color:whitesmoke;
}

/*when the email tab button is focused, then the link becomes visible*/
#emailplace:focus-within >#emaillink{
    visibility: visible;
}

#gittab:focus{
    background-color:var(--navycolor);
    color:whitesmoke;
}
#gitplace:focus-within >#gitlink{
    visibility:visible;
}


/*responsive styling for the header*/
@media screen and (max-width: 815px){
    nav{
        flex:1 0 0;
        display:flex;
        justify-content: space-between;
        margin-top:10px;
        margin-bottom:30px;
        margin-left:40px;
        margin-right:40px;
    }
    #titlegrow{
        flex:1 0 0;
        display:flex;
        border-bottom-style:hidden;
        
    } 
}

/*change page format below 880px*/
@media screen and (max-width:880px){
    #mainsection{
        flex-direction: column;
        
    }
    main{
        width:100%;
    }
    aside{
        width:100%;
    }
    .appimagetext{
        font-size:4vw;
        left:20%;
        bottom:77%;
    }
    
    #textsectionAB p{
        width:50%;
        font-size:3vw;
        margin-top:45px;
        margin-left:20px;
    }
    nav a{
        font-size:3vw;
        padding:2vw;
        padding-left:2vw;
        padding-right:3vw;
        margin-right:3vw;
    }
}

@media screen and (max-width:415px){
    #textsectionAB{
        display:block;
        height:600px;
    }
    #imageofme{
        width:50%;
        margin-left:20%;
    }
    #textsectionAB p{
        font-size:5vw;
        width:80%;
        margin-top:0px;
    }
    #emaillink{
        font-size:4vw;
    }
    #gitlink{
        font-size:4vw;
    }
    nav a{
        font-size:5vw;
        padding:2vw;
        padding-left:3vw;
        padding-right:4vw;
        margin-right:4vw;
    }
}
